name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        name: Setup node ${{ matrix.node-version }}
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'
          node-version: ${{ matrix.node }}
      - name: "Install dependencies"
        run: yarn install --pure-lockfile
        env:
          HUSKY_SKIP_INSTALL: true
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: "Run tests"
        run: |
          yarn test:ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          COVERALLS_REPO_TOKEN: "${{ secrets.COVERALLS_REPO_TOKEN }}"
          COVERALLS_GIT_BRANCH: "${{ github.ref }}"
      - name: "Upload Coverage"
        uses: coverallsapp/github-action@v1
        with:
          parallel: true
          flag-name: run-${{ join(matrix.*, '-') }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  finish:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v1
        with:
          parallel-finished: true
          carryforward: "run-18.x,run-19.x"

  release:
    runs-on: ubuntu-latest
    needs: [test]
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - uses: actions/setup-node@v3
        name: Setup node 20.18.0
        with:
          cache: 'yarn'
          node-version: "20.18.0"
      - name: "Install dependencies"
        run: yarn install --pure-lockfile
        env:
          HUSKY_SKIP_INSTALL: true
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: "Release"
        run: |
          USE_LOCAL_EXTENDS=1 node ./bin/release.mjs
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GH_TOKEN }}
          SEMVER_RELEASE_TYPE: LIBRARY_NODE
          ACTION_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.CI_GH_TOKEN }}

  # https://github.community/t5/GitHub-Actions/Workflow-is-failing-if-no-job-can-be-ran-due-to-condition/m-p/38186#M3250
  always_job:
    name: Aways run job
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Always run
        run: echo "This job is used to prevent the workflow to fail when all other jobs are skipped."
